/* text */


p {
    color: rgb(249, 245, 245);
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
    line-height: 75%;
    display: inline-block;
    margin: 25px;
  }

  
/*  images */

.pages {
    display: block;
    margin: auto;
    width: 100%;
}

/* containers */

body {
    min-height: 100%;
    margin: 50px;
    padding: 0;
    background-color: #b2cccb;
    background-size: cover;
    text-align: center;
}


