/* text */

.disclaimer {
    background-color: rgb(173, 23, 23);
    text-align: center;
}

p {
    color: rgb(249, 245, 245);
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 200%;
    line-height: 75%;
    display: block;
    margin-left: 16px;
  }

  b {
    color: rgb(249, 245, 245);
    font-family: "Dongle", serif;
    font-weight: 400;
    font-style: bold;
    font-size: 300%;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    line-height: 75%;
  }

  .name-subtitle {
    text-align: right;
    font-size: 32px;
    font-weight: 900;
  }
  
  .name-underline {
    padding: 0;
    color: transparent;
    background-color: rgba(234, 191, 90, 0.525);
    margin-bottom: 5%;

  }
  
/*  images */
.title-img {
    display: block;
    margin: auto;
    width: 100%;
    
}

.pfp-img {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 8px; 
}

.header-img {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    scale: 80%;
    border-radius: 25px;
}

.art-img {
  display: inline;
  height: auto;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  

}


/* containers */

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/assets/bgs.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-top-bottom {
    margin: 16px;
    text-align: center;
}

.each-column {
    margin: 16px;
    padding: 16px;
    vertical-align: top;
}

.column-container {
    columns: 2;
    margin-bottom: 48px;
    margin: 32px;
}

